In [10]:
student_records = {}
no_of_students = 3

for i in range(no_of_students):
    name = input("Enter the student's name: ")
    marks = int(input("Enter the student's marks: "))
    student_records[name] = marks


# print only student names
for student in student_records.values():
    print(marks)

95
95
95

In [11]:
student_records = {"Alice": 90, "Bob": 85, "Charlie": 95}

print("Names (keys):")
for name in student_records.keys():
    print(name)

print("\nMarks (values):")
for marks in student_records.values():
    print(marks)

Names (keys):
Alice
Bob
Charlie

Marks (values):
90
85
95

In [14]:
student_records = {}
no_of_students = 3

for i in range(no_of_students):
    name = input("Enter the student's name: ")
    marks = int(input("Enter the student's marks: "))
    student_records[name] = marks

# ✅ Print only student names
for student in student_records.values():
    print(student)

ValueError: invalid literal for int() with base 10: 'Rajpal'

In [15]:
student_records = {}
no_of_students = 3

for i in range(no_of_students):
    name = input("Enter the student's name: ")
    marks = int(input("Enter the student's marks: "))
    student_records[name] = marks

# ✅ Print only student names
for student in student_records.keys():
    print(student)

ValueError: invalid literal for int() with base 10: 'Rajpal'

In [16]:
student_records = {}
no_of_students = 3

for i in range(no_of_students):
    name = input("Enter the student's name: ")
    marks = int(input("Enter the student's marks: "))
    student_records[name] = marks

print(student_records)

ValueError: invalid literal for int() with base 10: 'Rajpal'

In [17]:
student_records = {}
no_of_students = 3

for i in range(no_of_students):
    name = input("Enter the student's name: ")
    marks = int(input("Enter the student's marks: "))
    student_records[name] = marks

student_records

{'Deepak': 98, 'Rajpal': 98, 'Baje': 77}

In [18]:
student_records = {}
no_of_students = 3

for i in range(no_of_students):
    name = input("Enter the student's name: ")
    marks = int(input("Enter the student's marks: "))
    student_records[name] = marks

print(student_records)

{'Deepak': 98, 'Baje': 96, 'Rajpal': 87}

In [1]:
print("Deepak")

Deepak

In [2]:
def calc(x,y):
    print(x+y)
    print(x-y)
    calc(10,30)

In [ ]:
# def welcome_message(name):
# print()

def welcome_message(name):
    print(f'Hi name )

In [3]:
def greet():
    print("Hello, Welcome to Python")
    greet()

In [4]:
def add(a,b):
    return a+b
result = add(5,3)
print("Sum:", result)

Sum: 8

In [5]:
def greet(name="Guest"):
    print("Hello",name)
    greet("Deepak")
    greet()

In [6]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
        return fact
    
    print("Factorial of 5:", factorial(5))

In [9]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
        return fact
    
    print("Factorial of 5:", factorial(5))

In [10]:
x = 10
if x > 5:
    print("x is greater than 5")
    print("This line is always printed")

x is greater than 5
This line is always printed

In [ ]:
for i in range(3):
print("Loop running", i)
print("Loop finished")