In [13]:
import sys
print(sys.executable)

c:\Python\venv\Scripts\python.exe

In [14]:
name = 'Deepak'

In [15]:
print(name)

Deepak

In [16]:
# KEYWORDS
from keyword import kwlist
print(kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [17]:
my_variable = 10 # Valid identifier
_variable = 20 # Valid identifier
2variable = 30 # Invalid identifier (Cannot start with a number)
class = 40    # Invalid identifier (Reserved keyword)

SyntaxError: invalid decimal literal (4028983015.py, line 3)

In [ ]:
a = int(input("Enter the number 1: "))
b = int(input("Enter the number 2: "))
print(a*b)

18

In [ ]:
a = input("Enter the number 1: ")
b = input("Enter the number 2: ")
print(a+b)

#Note : This is executing line by line, it gives 2 and 4 i.e. 24

24

# printing empty print function

print()

# printing some data in print function
print("some data")
# printing more than one data in print function
print("some data", "some data")
# Example for sep in print function
day = 10
mon = 12
year = 2027
print(day,mon,year)
print(day,mon,year, sep="")
print(day,mon,year, sep="/")
print(day,mon,year, sep="_")




# Example for end  = "\n"
print(1)
print(2,3)


print(1, end="")
print(2,3)

print(1, end='\n')
print(2,3)

In [2]:
# printing empty print function

print()

# printing some data in print function
print("some data")
# printing more than one data in print function
print("some data", "some data")
# Example for sep in print function
day = 10
mon = 12
year = 2027
print(day,mon,year)
print(day,mon,year, sep="")
print(day,mon,year, sep="/")
print(day,mon,year, sep="_")




# Example for end  = "\n"
print(1)
print(2,3)


print(1, end="")
print(2,3)

print(1, end='\n')
print(2,3)

some data
some data some data
10 12 2027
10122027
10/12/2027
10_12_2027
1
2 3
12 3
1
2 3

In [3]:
print('deepak34')

deepak34

In [4]:
data = b'128'
print(data)
print(type(data))

b'128'
<class 'bytes'>

In [5]:
data = {1:2}
print(data)
print(type(data))

{1: 2}
<class 'dict'>

In [6]:
grocery_list = ['rice', 'ragi', 'wheat', 'dhal']
print(grocery_list)
print(id(grocery_list))
grocery_list.append('oil')
print(grocery_list)
print(id(grocery_list))

['rice', 'ragi', 'wheat', 'dhal']
2360064429888
['rice', 'ragi', 'wheat', 'dhal', 'oil']
2360064429888

In [7]:
name  = "Deepak"
print(name)
print(id(name))
name  = "DeepakKumar"
print(name)
print(id(name))

Deepak
2360065741648
DeepakKumar
2360065833968

In [8]:
data = {1:2}
print(data)
print(type(data))

{1: 2}
<class 'dict'>

In [9]:
data = {1, 2, 3, 4, 5, 6} # Set
data = {'course':"Python"} # Dictionary
data = "Python Notes"  # String
data = 10 + 16j # Complex Number

print(data)
print(type(data))

(10+16j)
<class 'complex'>

a=10
a+=10
print(a)

In [10]:
a=10
a+=10
print(a)

20

In [12]:
name = "Python"                     
print('p' in name)
print('z' not in name)
print('p' in name)
print('t' in name)

False
True
False
True